#logo {
    font-size: 10em;
}

#job-details-screen {
    margin: 5.5%;

}

#homepage {
    display: block;
}

.home-page-inputs {
    margin: 5% 0;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
}

.navbar-list {
    float: left;
}

.nav-list-items {
    list-style-type: none;

}

.jobs-output {
    width: 45%;
    margin: 18% 38.5%;
    display: block;
}
.description-output {
    margin: 5%;
}

.job-details-list {
    margin: 6%;
    float: left;
}

.job-details-list li {
    list-style-type: none;
    float: left;
    margin: 0 5.5%;
}
.job-requirement-list {
    list-style-type:none;
    float: left;
}

.carousel {
    width: 100%;
    height: 6rem;
    
}

.carousel-item {
    height: 400px;
    width: 100%;
    object-fit: cover;
    
}

.searchBtnCol {
    margin-top: auto;
    margin-bottom: auto;
}

